.navbar{
    height: 75px;
    background-color: gray;
    margin: 0%;
    max-width: 1265px;
    display: flex;
}
body{
    background-color: darkgray;
}
.portfolio>a{
    font-family: monospace;
    font-size: 30px;
    font-weight: bold;
    margin-left: 20px;
    margin-top: 20px;
    text-decoration: none;
    color: black;
    display: block;
}
.portfolio:hover{
    background-color: white;
    background: none;
}
.buttons{
    display: flex;
    column-gap: 50px;
    margin-left: 600px;
    margin-top: -10px;
}
.buttons a{
    font-size: 30px;
    font-weight: bold;
    font-family: monospace;
}
.buttons a{
    font-size: 30px;
    font-weight: bold;
    font-family: monospace;
    text-decoration: none;
    color: black;
}
.buttons .about:hover{
    text-decoration: line-through;
    cursor: pointer;
}
.buttons .project:hover{
    text-decoration: line-through;
    cursor: pointer;
}
.buttons{
    display: flex;
    column-gap: 50px;
    margin-left: 600px;
    margin-top: 20px;
    max-width: 1250px;
}
.lines .horizontal1{
    background-color: black;
    height: 5px;
    margin-top: 3%;
}
.inner{
    margin: 0%;
}
.lines img{
    height: 250px;
    width: 200px;
    position: relative;
    top: 60px;
    left: 170px;
}
.lines .aboutmyself{
    font-size: 30px;
    font-family: monospace;
    text-align: center;
    width: 700px;
    position: relative;
    left: 440px;
    bottom: 230px;
}
.lines{
    max-width: 1250px;
}
.inner{
    height: 300px;
}
.inner .horizontal2{
    height: 5px;
    background-color: black;
    margin-top: -200px;
}
@media screen and(min-width:500px){
    .navbar{
        height: 75px;
        background-color: gray;
        margin: 0%;
        max-width: 1265px;
        display: flex;
    }
    body{
        background-color: darkgray;
        min-width: 500px;
        max-width: 1265px;
    }
    .portfolio>a{
        font-family: monospace;
        font-size: 30px;
        font-weight: bold;
        margin-left: 20px;
        margin-top: 20px;
        text-decoration: none;
        color: black;
        display: block;
    }
    .portfolio:hover{
        background-color: white;
        background: none;
    }
    .buttons{
        display: flex;
        column-gap: 50px;
        margin-left: 600px;
        margin-top: -10px;
    }
    .buttons a{
        font-size: 30px;
        font-weight: bold;
        font-family: monospace;
    }
    .buttons a{
        font-size: 30px;
        font-weight: bold;
        font-family: monospace;
        text-decoration: none;
        color: black;
    }
    .buttons .about:hover{
        text-decoration: line-through;
        cursor: pointer;
    }
    .buttons .project:hover{
        text-decoration: line-through;
        cursor: pointer;
    }
    .buttons{
        display: flex;
        column-gap: 50px;
        margin-left: 600px;
        margin-top: 20px;
        max-width: 1250px;
    }
    .lines .horizontal1{
        background-color: black;
        height: 5px;
        margin-top: 3%;
    }
    .inner{
        margin: 0%;
        display: block;
    }
    .lines img{
        height: 250px;
        width: 200px;
        position: relative;
        top: 60px;
        left: 170px;
    }
    .lines .aboutmyself{
        font-size: 30px;
        font-family: monospace;
        text-align: center;
        width: 700px;
        position: relative;
        left: 440px;
        bottom: 230px;
    }
    .lines{
        max-width: 1265px;
    }
    .inner{
        height: 300px;
    }
    .inner .horizontal2{
        height: 5px;
        background-color: black;
        margin-top: -200px;
    }
}